#char-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

#char-list img {
    height: 60px;
}

#char-list p {
    margin: 0;
}

.inactive {
    opacity: 0.2;
}