nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 12px 24px;
    height: 135px;
    font-size: 16px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: rgb(0, 204, 204);
}

nav h1 {
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: black;
}

#play-again {
    border: 2px solid black;
    border-radius: 6px;
    padding: 4px 12px;
    transition: 0.3s;
}

#play-again:hover {
    background: black; 
    color: white;
}