#home {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    font-size: 24px;
    text-align: center;
    justify-content: center;
    background-image: url('../img/home.jpg');
    color: white;
}

#home button {
    padding: 12px 24px;
    border: 2px solid black;
    transition: 0.3s;
    background: transparent;
    cursor: pointer;
    box-shadow: none;
    color: white;
    border: 2px solid white;
}

#home button:hover {
    background: white;
    color: black;
    border: none; 
}